@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

:root 
{
	--ifitgreen: #39B54A;
	--ifitblack: #202321;
    --statsgray: #A9A9A9;
}
    /* Scroll */
/* Para on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--ifitgreen);
  }
  
  /* Para Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--ifitgreen);
    border-radius: 20px;
  }

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    width: 100%;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

.carousel-indicators li {
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid var(--ifitgreen);
}

.carousel-indicators li:hover {
    background-color: var(--ifitblack);
}

.carousel-indicators li.active {
    background-color: var(--ifitgreen);
}

.fa-arrow-circle-right:before {
    color: #fff;
    border: 3px solid var(--ifitgreen);
    border-radius: 18px;
}

.fa-arrow-circle-left:before {
    color: #fff;
    border: 3px solid var(--ifitgreen);
    border-radius: 18px;
}

.status {
    color: var(--statsgray);
}

.status-danger {
    color: #e61313;
}

.rowgm {
    overflow: hidden;
}

.rowgm i {
    color: var(--ifitblack);
    cursor: pointer;
    font-size: 2em;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.rowgm i:hover {
    color: var(--ifitgreen);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.betabadge {
    cursor: pointer;
    width: 9%;
}

.inv {
    text-align: center;
    justify-content: center;
}

.inv a {
    color: #333333;
}

.inv h1 {
    font-weight: 800;
}

.inv img {
    border-radius: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}